:export {
	skyblueCrayola: $skyblue-crayola;
	dodgerBlue: $dodger-blue;
	amethyst: $amethyst;
	mulberryCrayola: $mulberry-crayola;
	frenchRose: $french-rose;
	radicalRed: $radical-red;
	myColorDark: $my-color-dark;
	myColorGray1: $my-color-gray1;
	myColorGray2: $my-color-gray2;
	myColorGray3: $my-color-gray3;
	myColorGray4: $my-color-gray4;
	myColorGray5: $my-color-gray5;
	myColorGray6: $my-color-gray6;
	myColorGray7: $my-color-gray7;
	myColorGray8: $my-color-gray8;
	myColorLight: $my-color-light;
}
