@import "~@fontsource/poppins/300.css";
@import "~@fontsource/poppins/400.css";
@import "~@fontsource/poppins/500.css";
@import "~@fontsource/poppins/600.css";
@import "~@fontsource/poppins/700.css";
@import "~@fontsource/lato/400.css";

/*$raisin-black: #1C1F33;
$dark-liver: #4B4A56;
$sonic-silver: #6F6E78;
$manatee: #94939A;
$grayX: #B8B7BC;
$gainsboro: #DBDBDE;
$cultured-white: #f9f9fb;*/

/* Theme grays */
$space-cadet: #1C1F33;
$independence: #444657;
$sonic-silver: #727481;
$manatee: #9696A0;
$grayX: #B8B8BE;
$gainsboro: #DADADD;
$platinum: #ECECEE;
$cultured-white: #F6F6F7;
$cultured-white2: #F9F9FA;

/* Theme colors */
$french-rose: #FF3D77;
$radical-red: #FF1E61;
$mulberry-crayola: #BB57A4;
$amethyst: #9964BB;
$dodger-blue: #338AFF;
$skyblue-crayola: #00DCF7;

/* Theme signal colors */
$my-color-danger: $radical-red;
$my-color-success: #47F08B;
$my-color-warning: #FFDF6B;

$my-color-dark: $space-cadet;

$my-color-gray1: $independence;
$my-color-gray2: $sonic-silver;
$my-color-gray3: $manatee;
$my-color-gray4: $grayX;
$my-color-gray5: $gainsboro;
$my-color-gray6: $platinum;
$my-color-gray7: $cultured-white;
$my-color-gray8: $cultured-white2;

$my-color-light: #FFFFFF;
/*
$my-color-primary: #087CA7;
$my-color-secondary: #0D1B2A;
$my-color-background : #FFFFFF;
$my-text-color-primary: #0D1B2A;
$my-text-color-secondary: #343633;
*/
